In [1]:
from students_matching import StudentsMatching
import random
import warnings

warnings.filterwarnings("ignore")

In [41]:
num_students = 450
num_profiles = 8

min_num_groups = [0, 0, 0, 0, 0, 0, 0, 0]
max_num_groups = [2, 2, 3, 2, 9, 3, 4, 2]
max_group_sizes = [25, 20, 30, 32, 27, 30, 20, 30]
min_group_sizes = [18, 18, 27, 30, 25, 20, 15, 30]

perc_of_target = 0.05
perc_of_contract = 0.3
debts_limit = 5
first_pref = 60
first_pref_target = 5

In [42]:
matching = StudentsMatching(num_students, num_profiles, perc_of_target,
                            perc_of_contract, debts_limit, first_pref, first_pref_target,
                            min_num_groups, max_num_groups, min_group_sizes, max_group_sizes)

In [43]:
for prof in matching.data_p.index:
    print(f"Профиль {prof}: Студенты, поставившие первым приоритетом: {matching.priorities[prof]}, "
          f"целевиков: {matching.priorities_target[prof]}")

print(f"Размер резерва студентов: {matching.reserve_size}")
print(f"Резерв студентов: {matching.reserve_students}")

Профиль 0: Студенты, поставившие первым приоритетом: 52, целевиков: 1
Профиль 1: Студенты, поставившие первым приоритетом: 52, целевиков: 4
Профиль 2: Студенты, поставившие первым приоритетом: 46, целевиков: 4
Профиль 3: Студенты, поставившие первым приоритетом: 34, целевиков: 2
Профиль 4: Студенты, поставившие первым приоритетом: 60, целевиков: 2
Профиль 5: Студенты, поставившие первым приоритетом: 53, целевиков: 2
Профиль 6: Студенты, поставившие первым приоритетом: 61, целевиков: 3
Профиль 7: Студенты, поставившие первым приоритетом: 60, целевиков: 4
Размер резерва студентов: 15
Резерв студентов: []

In [44]:
matching.gale_shapley(matching.sorted_students)
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [294, 309, 79, 422, 322, 136, 317, 8, 371, 416, 37, 113, 76, 270, 67, 295, 112, 350, 190, 26, 23, 435, 71, 104, 278, 384, 142, 388, 200, 370, 267, 187, 343, 51, 157, 409, 211, 60, 98, 1, 341, 417, 390, 257, 441, 391, 431, 423, 153, 408]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [273, 105, 121, 440, 175, 110, 220, 215, 118, 88, 365, 366, 152, 272, 389, 231, 364, 122, 374, 31, 344, 154, 205, 357, 424, 141, 336, 352, 107, 137, 351, 42, 40, 61, 165, 297, 358, 430, 20, 120]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [330, 83, 108, 381, 399, 204, 101, 6, 34, 148, 95, 323, 41, 413, 63, 282, 35, 308, 428, 229, 228, 443, 418, 259, 185, 354, 262, 250, 14, 414, 115, 406, 199, 266, 437, 233, 446, 169, 143, 346, 242, 33, 305, 247, 4, 312, 332, 436, 395, 405, 279, 156]
Всего на профиле 2 52 студентов
Для максимальной заполненности 1 групп профиля 2 выгнать: 22
Для минимальной заполненности 2 групп профиля 2 добавить: 2
Профиль 3: Студенты - [313, 327, 89, 316, 296, 0, 310, 218, 16, 434, 27, 400, 230, 3, 425, 237, 119, 223, 383, 334, 419, 181, 93, 217, 129, 197, 386, 66, 348, 241, 173, 353, 438, 125, 328, 345]
Всего на профиле 3 36 студентов
Для максимальной заполненности 1 групп профиля 3 выгнать: 4
Для минимальной заполненности 2 групп профиля 3 добавить: 24
Профиль 4: Студенты - [55, 234, 236, 207, 164, 263, 216, 319, 171, 140, 256, 201, 235, 439, 70, 128, 155, 81, 91, 429, 276, 337, 189, 13, 265, 80, 274, 284, 401, 84, 377, 178, 52, 445, 161, 10, 68, 260, 269, 18, 192, 180, 73, 163, 447, 184, 281, 134, 212, 170, 176, 158, 17, 277, 172, 318, 306, 403, 135, 227, 243]
Всего на профиле 4 61 студентов
Для максимальной заполненности 2 групп профиля 4 выгнать: 7
Для минимальной заполненности 3 групп профиля 4 добавить: 14
Профиль 5: Студенты - [214, 11, 39, 77, 324, 293, 151, 287, 46, 117, 132, 360, 44, 168, 340, 258, 347, 195, 147, 376, 224, 394, 123, 116, 292, 86, 202, 367, 54, 315, 333, 145, 339, 246, 307, 283, 100, 375, 289, 288, 2, 28, 325, 74, 311, 21, 206, 382, 342, 32, 36, 166, 448, 219, 255, 426]
Всего на профиле 5 56 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 4
Профиль 6: Студенты - [48, 412, 264, 159, 300, 275, 22, 103, 58, 24, 252, 150, 361, 314, 162, 138, 127, 268, 329, 131, 298, 92, 362, 25, 12, 19, 208, 387, 427, 420, 240, 222, 72, 368, 254, 146, 29, 94, 53, 47, 385, 56, 209, 349, 379, 407, 290, 183, 5, 338, 179, 301, 106, 109, 59, 402, 87, 433, 363, 410, 49, 238, 271]
Всего на профиле 6 63 студентов
Студентов профиля 6 можно распределить в 4 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 17
Профиль 7: Студенты - [442, 320, 90, 65, 355, 62, 186, 326, 302, 299, 378, 411, 177, 99, 280, 43, 191, 321, 244, 188, 167, 249, 45, 213, 203, 78, 248, 210, 96, 160, 174, 398, 444, 359, 335, 232, 133, 182, 221, 404, 193, 261, 7, 64, 124, 449, 251, 397, 226, 225, 102, 85, 139, 194, 393, 82, 69, 380, 126, 15]
Всего на профиле 7 60 студентов
На профиле 7 можно сформировать 2 полных групп.

In [45]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[9, 30, 38, 50, 57, 75, 97, 111, 114, 130, 144, 149, 196, 198, 239, 245, 253, 285, 286, 291, 303, 304, 331, 356, 369, 372, 373, 392, 396, 415, 421, 432]

In [46]:
matching.calculate_prof_status_and_a()
matching.prof_status

[1, 1, 0, 0, 0, 1, 1, 1]

In [47]:
matching.a

8

In [48]:
matching.preparing_for_redistribution()

можно проводить распределение
студенты к распределению: [271, 426, 156, 279, 255, 238, 219, 243, 49, 227, 345, 405, 328, 448, 15, 166, 9, 30, 38, 50, 57, 75, 97, 111, 114, 130, 144, 149, 196, 198, 239, 245, 253, 285, 286, 291, 303, 304, 331, 356, 369, 372, 373, 392, 396, 415, 421, 432]

In [49]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
1,0,2,18,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
2,0,3,27,30,5,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
3,0,2,30,32,26,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
4,0,9,25,27,16,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
5,0,3,20,30,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
6,1,4,15,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",15
7,0,2,30,30,1,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0

In [50]:
matching.gale_shapley_redistribution()
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = students_to_add
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [294, 309, 79, 422, 322, 136, 317, 8, 371, 416, 37, 113, 76, 270, 67, 295, 112, 350, 190, 26, 23, 435, 71, 104, 278, 384, 142, 388, 200, 370, 267, 187, 343, 51, 157, 409, 211, 60, 98, 1, 341, 417, 390, 257, 441, 391, 431, 423, 153, 408]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [273, 105, 121, 440, 175, 110, 220, 215, 118, 88, 365, 366, 152, 272, 389, 231, 364, 122, 374, 31, 344, 154, 205, 357, 424, 141, 336, 352, 107, 137, 351, 42, 40, 61, 165, 297, 358, 430, 20, 120]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [330, 83, 108, 381, 399, 204, 101, 6, 34, 148, 95, 323, 41, 413, 63, 282, 35, 308, 428, 229, 228, 443, 418, 259, 185, 354, 262, 250, 14, 414, 115, 406, 199, 266, 437, 233, 446, 169, 143, 346, 242, 33, 305, 247, 4, 312, 332, 436, 395, 271, 156, 279, 405, 166]
Всего на профиле 2 54 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 6
Профиль 3: Студенты - [313, 327, 89, 316, 296, 0, 310, 218, 16, 434, 27, 400, 230, 3, 425, 237, 119, 223, 383, 334, 419, 181, 93, 217, 129, 197, 386, 66, 348, 241, 173, 353, 438, 125, 219, 49, 345, 448, 255, 238, 328]
Всего на профиле 3 41 студентов
Для максимальной заполненности 1 групп профиля 3 выгнать: 9
Для минимальной заполненности 2 групп профиля 3 добавить: 19
Профиль 4: Студенты - [55, 234, 236, 207, 164, 263, 216, 319, 171, 140, 256, 201, 235, 439, 70, 128, 155, 81, 91, 429, 276, 337, 189, 13, 265, 80, 274, 284, 401, 84, 377, 178, 52, 445, 161, 10, 68, 260, 269, 18, 192, 180, 73, 163, 447, 184, 281, 134, 212, 170, 176, 158, 17, 277, 172, 318, 306, 403, 135, 243, 227, 426]
Всего на профиле 4 62 студентов
Для максимальной заполненности 2 групп профиля 4 выгнать: 8
Для минимальной заполненности 3 групп профиля 4 добавить: 13
Профиль 5: Студенты - [214, 11, 39, 77, 324, 293, 151, 287, 46, 117, 132, 360, 44, 168, 340, 258, 347, 195, 147, 376, 224, 394, 123, 116, 292, 86, 202, 367, 54, 315, 333, 145, 339, 246, 307, 283, 100, 375, 289, 288, 2, 28, 325, 74, 311, 21, 206, 382, 342, 32, 36]
Всего на профиле 5 51 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 9
Профиль 6: Студенты - [48, 412, 264, 159, 300, 275, 22, 103, 58, 24, 252, 150, 361, 314, 162, 138, 127, 268, 329, 131, 298, 92, 362, 25, 12, 19, 208, 387, 427, 420, 240, 222, 72, 368, 254, 146, 29, 94, 53, 47, 385, 56, 209, 349, 379, 407, 290, 183, 5, 338, 179, 301, 106, 109, 59, 402, 87, 433, 363, 410]
Всего на профиле 6 60 студентов
На профиле 6 можно сформировать 3 полных групп.
Профиль 7: Студенты - [442, 320, 90, 65, 355, 62, 186, 326, 302, 299, 378, 411, 177, 99, 280, 43, 191, 321, 244, 188, 167, 249, 45, 213, 203, 78, 248, 210, 96, 160, 174, 398, 444, 359, 335, 232, 133, 182, 221, 404, 193, 261, 7, 64, 124, 449, 251, 397, 226, 225, 102, 85, 139, 194, 393, 82, 69, 380, 126, 15]
Всего на профиле 7 60 студентов
На профиле 7 можно сформировать 2 полных групп.

In [51]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
1,0,2,18,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
2,0,3,27,30,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
3,0,2,30,32,19,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
4,0,9,25,27,13,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
5,0,3,20,30,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
6,1,4,15,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",15
7,0,2,30,30,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0

In [52]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[9, 30, 38, 50, 57, 75, 97, 111, 114, 130, 144, 149, 196, 198, 239, 245, 253, 285, 286, 291, 303, 304, 331, 356, 369, 372, 373, 392, 396, 415, 421, 432]

In [53]:
matching.random_distribution()

In [54]:
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size
            # Обновляем квоту для дальнейшего распределения студентов
            matching.data_p.loc[prof, 'quota'] = students_needed_to_max
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [294, 309, 79, 422, 322, 136, 317, 8, 371, 416, 37, 113, 76, 270, 67, 295, 112, 350, 190, 26, 23, 435, 71, 104, 278, 384, 142, 388, 200, 370, 267, 187, 343, 51, 157, 409, 211, 60, 98, 1, 341, 417, 390, 257, 441, 391, 431, 423, 153, 408]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [273, 105, 121, 440, 175, 110, 220, 215, 118, 88, 365, 366, 152, 272, 389, 231, 364, 122, 374, 31, 344, 154, 205, 357, 424, 141, 336, 352, 107, 137, 351, 42, 40, 61, 165, 297, 358, 430, 20, 120]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [330, 83, 108, 381, 399, 204, 101, 6, 34, 148, 95, 323, 41, 413, 63, 282, 35, 308, 428, 229, 228, 443, 418, 259, 185, 354, 262, 250, 14, 414, 115, 406, 199, 266, 437, 233, 446, 169, 143, 346, 242, 33, 305, 247, 4, 312, 332, 436, 395, 271, 156, 279, 405, 166]
Всего на профиле 2 54 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 6
Профиль 3: Студенты - [313, 327, 89, 316, 296, 0, 310, 218, 16, 434, 27, 400, 230, 3, 425, 237, 119, 223, 383, 334, 419, 181, 93, 217, 129, 197, 386, 66, 348, 241, 173, 353, 438, 125, 219, 49, 345, 448, 255, 238, 328, 50, 57, 97, 111, 114, 130, 144, 149, 198, 239, 245, 285, 286, 304, 356, 392, 396, 421, 432]
Всего на профиле 3 60 студентов
Студентов профиля 3 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 3: 4
Профиль 4: Студенты - [55, 234, 236, 207, 164, 263, 216, 319, 171, 140, 256, 201, 235, 439, 70, 128, 155, 81, 91, 429, 276, 337, 189, 13, 265, 80, 274, 284, 401, 84, 377, 178, 52, 445, 161, 10, 68, 260, 269, 18, 192, 180, 73, 163, 447, 184, 281, 134, 212, 170, 176, 158, 17, 277, 172, 318, 306, 403, 135, 243, 227, 426, 9, 30, 38, 75, 196, 253, 291, 303, 331, 369, 372, 373, 415]
Всего на профиле 4 75 студентов
Студентов профиля 4 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 4: 6
Профиль 5: Студенты - [214, 11, 39, 77, 324, 293, 151, 287, 46, 117, 132, 360, 44, 168, 340, 258, 347, 195, 147, 376, 224, 394, 123, 116, 292, 86, 202, 367, 54, 315, 333, 145, 339, 246, 307, 283, 100, 375, 289, 288, 2, 28, 325, 74, 311, 21, 206, 382, 342, 32, 36]
Всего на профиле 5 51 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 9
Профиль 6: Студенты - [48, 412, 264, 159, 300, 275, 22, 103, 58, 24, 252, 150, 361, 314, 162, 138, 127, 268, 329, 131, 298, 92, 362, 25, 12, 19, 208, 387, 427, 420, 240, 222, 72, 368, 254, 146, 29, 94, 53, 47, 385, 56, 209, 349, 379, 407, 290, 183, 5, 338, 179, 301, 106, 109, 59, 402, 87, 433, 363, 410]
Всего на профиле 6 60 студентов
На профиле 6 можно сформировать 3 полных групп.
Профиль 7: Студенты - [442, 320, 90, 65, 355, 62, 186, 326, 302, 299, 378, 411, 177, 99, 280, 43, 191, 321, 244, 188, 167, 249, 45, 213, 203, 78, 248, 210, 96, 160, 174, 398, 444, 359, 335, 232, 133, 182, 221, 404, 193, 261, 7, 64, 124, 449, 251, 397, 226, 225, 102, 85, 139, 194, 393, 82, 69, 380, 126, 15]
Всего на профиле 7 60 студентов
На профиле 7 можно сформировать 2 полных групп.

In [55]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[]

In [56]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
1,0,2,18,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
2,0,3,27,30,6,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
3,0,2,30,32,4,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
4,0,9,25,27,6,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
5,0,3,20,30,9,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0
6,1,4,15,20,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",15
7,0,2,30,30,0,"[313, 330, 55, 273, 105, 234, 83, 48, 121, 412...",0

Квоты обновлены с учётом свободных мест в существующих группах

In [39]:
matching.random_distribution()

In [40]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[]

Мы раскидали студентов по свободным местам в существующих группах. Теперь вариант сохранения комплектности профилей.

In [20]:
matching.completeness_quota()

на профиле 0 студентов можно добавить  до 100
на профиле 1 студентов можно добавить  до 40
на профиле 2 студентов можно добавить  до 60
на профиле 3 студентов можно добавить  до 64
на профиле 4 студентов можно добавить  до 54
на профиле 5 студентов можно добавить  до 60
на профиле 6 студентов можно добавить  до 80
на профиле 7 студентов можно добавить  до 60

In [21]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,5,11,20,49,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
1,0,2,18,20,0,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
2,0,3,27,30,3,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
3,0,2,30,32,1,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
4,0,9,25,27,3,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
5,0,3,30,30,0,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
6,0,4,15,20,12,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0
7,0,2,30,30,0,"[82, 30, 317, 283, 56, 22, 216, 167, 439, 138,...",0

In [50]:
matching.random_distribution()

In [22]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[]