In [12]:
from students_matching import StudentsMatching
import random
import warnings

warnings.filterwarnings("ignore")

In [13]:
num_students = 450
num_profiles = 8

min_num_groups = [0, 0, 0, 0, 0, 0, 0, 0]
max_num_groups = [2, 2, 3, 2, 9, 3, 4, 2]
max_group_sizes = [25, 20, 30, 32, 27, 30, 20, 30]
min_group_sizes = [18, 18, 27, 30, 25, 20, 15, 30]

perc_of_target = 0.05
perc_of_contract = 0.3
debts_limit = 5
first_pref = 60
first_pref_target = 5

In [53]:
matching = StudentsMatching(num_students, num_profiles, perc_of_target,
                            perc_of_contract, debts_limit, first_pref, first_pref_target,
                            min_num_groups, max_num_groups, min_group_sizes, max_group_sizes)

In [54]:
matching.generate_student_labels()
matching.generate_debts()
matching.generate_rating()
matching.generate_student_preferences()

In [55]:
matching.generate_profile_preferences()
matching.calculate_mandatory_profiles()
matching.fill_reserve()

[]

In [56]:
for prof in matching.data_p.index:
    print(f"Профиль {prof}: Студенты, поставившие первым приоритетом: {matching.priorities[prof]}, "
          f"целевиков: {matching.priorities_target[prof]}")

print(f"Размер резерва студентов: {matching.reserve_size}")
print(f"Резерв студентов: {matching.reserve_students}")

Профиль 0: Студенты, поставившие первым приоритетом: 51, целевиков: 2
Профиль 1: Студенты, поставившие первым приоритетом: 42, целевиков: 4
Профиль 2: Студенты, поставившие первым приоритетом: 54, целевиков: 3
Профиль 3: Студенты, поставившие первым приоритетом: 54, целевиков: 3
Профиль 4: Студенты, поставившие первым приоритетом: 52, целевиков: 3
Профиль 5: Студенты, поставившие первым приоритетом: 52, целевиков: 5
Профиль 6: Студенты, поставившие первым приоритетом: 54, целевиков: 1
Профиль 7: Студенты, поставившие первым приоритетом: 57, целевиков: 1
Размер резерва студентов: 30
Резерв студентов: []

In [57]:
matching.gale_shapley(matching.sorted_students)
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [131, 302, 356, 439, 59, 185, 267, 87, 424, 187, 10, 371, 241, 139, 50, 301, 62, 142, 447, 190, 89, 260, 389, 39, 431, 400, 287, 109, 43, 438, 351, 121, 357, 214, 416, 11, 271, 247, 7, 96, 418, 307, 427, 31, 14, 246, 277, 285, 434, 360]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [266, 283, 86, 80, 243, 144, 58, 120, 255, 99, 148, 340, 40, 17, 97, 207, 182, 256, 30, 346, 55, 49, 242, 44, 407, 151, 208, 134, 210, 379, 291, 420, 82, 178, 32, 191, 188, 353, 437, 348]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [386, 412, 107, 93, 329, 313, 147, 372, 445, 132, 192, 199, 68, 342, 167, 245, 363, 436, 194, 180, 399, 205, 326, 28, 154, 4, 77, 75, 432, 36, 370, 308, 158, 378, 401, 238, 20, 108, 224, 19, 57, 171, 332, 126, 169, 422, 52, 166, 273, 25, 337, 197, 290, 184]
Всего на профиле 2 54 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 6
Профиль 3: Студенты - [265, 135, 177, 288, 239, 213, 193, 300, 325, 115, 204, 155, 223, 306, 165, 85, 410, 219, 405, 442, 303, 248, 95, 189, 264, 397, 385, 250, 349, 377, 146, 375, 103, 305, 330, 110, 380, 143, 64, 406, 345, 38, 136, 145, 298, 311, 29, 118, 310, 449, 54, 215, 274, 92, 323]
Всего на профиле 3 55 студентов
Для максимальной заполненности 1 групп профиля 3 выгнать: 23
Для минимальной заполненности 2 групп профиля 3 добавить: 5
Профиль 4: Студенты - [233, 101, 41, 261, 65, 60, 209, 150, 196, 231, 381, 212, 170, 322, 61, 127, 122, 441, 299, 211, 12, 435, 429, 128, 448, 202, 216, 138, 206, 269, 114, 268, 220, 446, 183, 0, 83, 362, 294, 232, 227, 414, 240, 106, 73, 235, 304, 402, 35, 157, 164, 394]
Всего на профиле 4 52 студентов
Студентов профиля 4 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 4: 2
Профиль 5: Студенты - [425, 48, 175, 413, 253, 347, 37, 229, 67, 297, 373, 226, 71, 403, 426, 23, 24, 335, 112, 419, 244, 296, 162, 318, 140, 365, 374, 341, 51, 47, 160, 249, 391, 172, 102, 387, 423, 186, 361, 218, 444, 70, 125, 331, 279, 2, 284, 129, 359, 198, 408, 168, 392]
Всего на профиле 5 53 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 7
Профиль 6: Студенты - [46, 367, 74, 293, 124, 6, 276, 263, 163, 91, 376, 26, 141, 119, 369, 415, 320, 292, 176, 3, 98, 236, 309, 390, 262, 259, 404, 344, 428, 395, 200, 130, 152, 88, 280, 181, 56, 217, 201, 433, 237, 252, 84, 281, 393, 328, 76, 1, 111, 327, 78, 63, 354, 270, 350]
Всего на профиле 6 55 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 5
Профиль 7: Студенты - [338, 333, 257, 286, 5, 228, 18, 398, 254, 53, 334, 116, 315, 81, 411, 396, 388, 16, 161, 42, 316, 275, 251, 100, 324, 9, 258, 21, 72, 278, 417, 364, 105, 289, 156, 314, 174, 440, 79, 33, 45, 27, 352, 272, 173, 13, 336, 15, 8, 234, 383, 90, 358, 117, 368, 321, 133]
Всего на профиле 7 57 студентов
Для максимальной заполненности 1 групп профиля 7 выгнать: 27
Для минимальной заполненности 2 групп профиля 7 добавить: 3

In [58]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[22, 34, 66, 69, 94, 104, 113, 123, 137, 149, 153, 159, 179, 195, 203, 221, 222, 225, 230, 282, 295, 312, 317, 319, 339, 343, 355, 366, 382, 384, 409, 421, 430, 443]

In [59]:
matching.calculate_prof_status_and_a()
matching.prof_status

[1, 1, 1, 0, 1, 1, 1, 0]

In [60]:
matching.a

-26

In [61]:
matching.preparing_for_redistribution()

есть лишние студенты
студенты к распределению: [22, 34, 66, 69, 94, 104, 113, 123, 137, 149, 153, 159, 179, 195, 203, 221, 222, 225, 230, 282, 295, 312, 317, 319, 339, 343, 355, 366, 382, 384, 409, 421, 430, 443]

In [62]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
1,0,2,18,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
2,0,3,27,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
3,0,2,30,32,5,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
4,0,9,25,27,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
5,0,3,20,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
6,0,4,15,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
7,1,2,30,30,3,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",30

In [63]:
matching.gale_shapley_redistribution()
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = students_to_add
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [131, 302, 356, 439, 59, 185, 267, 87, 424, 187, 10, 371, 241, 139, 50, 301, 62, 142, 447, 190, 89, 260, 389, 39, 431, 400, 287, 109, 43, 438, 351, 121, 357, 214, 416, 11, 271, 247, 7, 96, 418, 307, 427, 31, 14, 246, 277, 285, 434, 360]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [266, 283, 86, 80, 243, 144, 58, 120, 255, 99, 148, 340, 40, 17, 97, 207, 182, 256, 30, 346, 55, 49, 242, 44, 407, 151, 208, 134, 210, 379, 291, 420, 82, 178, 32, 191, 188, 353, 437, 348]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [386, 412, 107, 93, 329, 313, 147, 372, 445, 132, 192, 199, 68, 342, 167, 245, 363, 436, 194, 180, 399, 205, 326, 28, 154, 4, 77, 75, 432, 36, 370, 308, 158, 378, 401, 238, 20, 108, 224, 19, 57, 171, 332, 126, 169, 422, 52, 166, 273, 25, 337, 197, 290, 184]
Всего на профиле 2 54 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 6
Профиль 3: Студенты - [265, 135, 177, 288, 239, 213, 193, 300, 325, 115, 204, 155, 223, 306, 165, 85, 410, 219, 405, 442, 303, 248, 95, 189, 264, 397, 385, 250, 349, 377, 146, 375, 103, 305, 330, 110, 380, 143, 64, 406, 345, 38, 136, 145, 298, 311, 29, 118, 310, 449, 54, 215, 274, 92, 323]
Всего на профиле 3 55 студентов
Для максимальной заполненности 1 групп профиля 3 выгнать: 23
Для минимальной заполненности 2 групп профиля 3 добавить: 5
Профиль 4: Студенты - [233, 101, 41, 261, 65, 60, 209, 150, 196, 231, 381, 212, 170, 322, 61, 127, 122, 441, 299, 211, 12, 435, 429, 128, 448, 202, 216, 138, 206, 269, 114, 268, 220, 446, 183, 0, 83, 362, 294, 232, 227, 414, 240, 106, 73, 235, 304, 402, 35, 157, 164, 394]
Всего на профиле 4 52 студентов
Студентов профиля 4 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 4: 2
Профиль 5: Студенты - [425, 48, 175, 413, 253, 347, 37, 229, 67, 297, 373, 226, 71, 403, 426, 23, 24, 335, 112, 419, 244, 296, 162, 318, 140, 365, 374, 341, 51, 47, 160, 249, 391, 172, 102, 387, 423, 186, 361, 218, 444, 70, 125, 331, 279, 2, 284, 129, 359, 198, 408, 168, 392]
Всего на профиле 5 53 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 7
Профиль 6: Студенты - [46, 367, 74, 293, 124, 6, 276, 263, 163, 91, 376, 26, 141, 119, 369, 415, 320, 292, 176, 3, 98, 236, 309, 390, 262, 259, 404, 344, 428, 395, 200, 130, 152, 88, 280, 181, 56, 217, 201, 433, 237, 252, 84, 281, 393, 328, 76, 1, 111, 327, 78, 63, 354, 270, 350]
Всего на профиле 6 55 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 5
Профиль 7: Студенты - [338, 333, 257, 286, 5, 228, 18, 398, 254, 53, 334, 116, 315, 81, 411, 396, 388, 16, 161, 42, 316, 275, 251, 100, 324, 9, 258, 21, 72, 278, 417, 364, 105, 289, 156, 314, 174, 440, 79, 33, 45, 27, 352, 272, 173, 13, 336, 15, 8, 234, 383, 90, 358, 117, 368, 321, 133]
Всего на профиле 7 57 студентов
Для максимальной заполненности 1 групп профиля 7 выгнать: 27
Для минимальной заполненности 2 групп профиля 7 добавить: 3

In [64]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
1,0,2,18,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
2,0,3,27,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
3,0,2,30,32,5,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
4,0,9,25,27,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
5,0,3,20,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
6,0,4,15,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
7,1,2,30,30,3,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",30

In [65]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[22, 34, 66, 69, 94, 104, 113, 123, 137, 149, 153, 159, 179, 195, 203, 221, 222, 225, 230, 282, 295, 312, 317, 319, 339, 343, 355, 366, 382, 384, 409, 421, 430, 443]

In [66]:
matching.random_distribution()

In [67]:
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size
            # Обновляем квоту для дальнейшего распределения студентов
            matching.data_p.loc[prof, 'quota'] = students_needed_to_max
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [131, 302, 356, 439, 59, 185, 267, 87, 424, 187, 10, 371, 241, 139, 50, 301, 62, 142, 447, 190, 89, 260, 389, 39, 431, 400, 287, 109, 43, 438, 351, 121, 357, 214, 416, 11, 271, 247, 7, 96, 418, 307, 427, 31, 14, 246, 277, 285, 434, 360]
Всего на профиле 0 50 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [266, 283, 86, 80, 243, 144, 58, 120, 255, 99, 148, 340, 40, 17, 97, 207, 182, 256, 30, 346, 55, 49, 242, 44, 407, 151, 208, 134, 210, 379, 291, 420, 82, 178, 32, 191, 188, 353, 437, 348]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [386, 412, 107, 93, 329, 313, 147, 372, 445, 132, 192, 199, 68, 342, 167, 245, 363, 436, 194, 180, 399, 205, 326, 28, 154, 4, 77, 75, 432, 36, 370, 308, 158, 378, 401, 238, 20, 108, 224, 19, 57, 171, 332, 126, 169, 422, 52, 166, 273, 25, 337, 197, 290, 184]
Всего на профиле 2 54 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 6
Профиль 3: Студенты - [265, 135, 177, 288, 239, 213, 193, 300, 325, 115, 204, 155, 223, 306, 165, 85, 410, 219, 405, 442, 303, 248, 95, 189, 264, 397, 385, 250, 349, 377, 146, 375, 103, 305, 330, 110, 380, 143, 64, 406, 345, 38, 136, 145, 298, 311, 29, 118, 310, 449, 54, 215, 274, 92, 323, 66, 69, 104, 113, 123]
Всего на профиле 3 60 студентов
Студентов профиля 3 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 3: 4
Профиль 4: Студенты - [233, 101, 41, 261, 65, 60, 209, 150, 196, 231, 381, 212, 170, 322, 61, 127, 122, 441, 299, 211, 12, 435, 429, 128, 448, 202, 216, 138, 206, 269, 114, 268, 220, 446, 183, 0, 83, 362, 294, 232, 227, 414, 240, 106, 73, 235, 304, 402, 35, 157, 164, 394]
Всего на профиле 4 52 студентов
Студентов профиля 4 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 4: 2
Профиль 5: Студенты - [425, 48, 175, 413, 253, 347, 37, 229, 67, 297, 373, 226, 71, 403, 426, 23, 24, 335, 112, 419, 244, 296, 162, 318, 140, 365, 374, 341, 51, 47, 160, 249, 391, 172, 102, 387, 423, 186, 361, 218, 444, 70, 125, 331, 279, 2, 284, 129, 359, 198, 408, 168, 392]
Всего на профиле 5 53 студентов
Студентов профиля 5 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 5: 7
Профиль 6: Студенты - [46, 367, 74, 293, 124, 6, 276, 263, 163, 91, 376, 26, 141, 119, 369, 415, 320, 292, 176, 3, 98, 236, 309, 390, 262, 259, 404, 344, 428, 395, 200, 130, 152, 88, 280, 181, 56, 217, 201, 433, 237, 252, 84, 281, 393, 328, 76, 1, 111, 327, 78, 63, 354, 270, 350]
Всего на профиле 6 55 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 5
Профиль 7: Студенты - [338, 333, 257, 286, 5, 228, 18, 398, 254, 53, 334, 116, 315, 81, 411, 396, 388, 16, 161, 42, 316, 275, 251, 100, 324, 9, 258, 21, 72, 278, 417, 364, 105, 289, 156, 314, 174, 440, 79, 33, 45, 27, 352, 272, 173, 13, 336, 15, 8, 234, 383, 90, 358, 117, 368, 321, 133, 22, 34, 94]
Всего на профиле 7 60 студентов
На профиле 7 можно сформировать 2 полных групп.

In [68]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[137, 149, 153, 159, 179, 195, 203, 221, 222, 225, 230, 282, 295, 312, 317, 319, 339, 343, 355, 366, 382, 384, 409, 421, 430, 443]

In [69]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
1,0,2,18,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
2,0,3,27,30,6,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
3,0,2,30,32,4,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
4,0,9,25,27,2,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
5,0,3,20,30,7,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
6,0,4,15,20,5,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
7,1,2,30,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",30

Квоты обновлены с учётом свободных мест в существующих группах

In [70]:
matching.random_distribution()

In [71]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[430, 443]

Мы раскидали студентов по свободным местам в существующих группах. Теперь вариант сохранения комплектности профилей.

In [72]:
matching.completeness_quota()

на профиле 0 студентов можно добавить  до 50
на профиле 1 студентов можно добавить  до 40
на профиле 2 студентов можно добавить  до 60
на профиле 3 студентов можно добавить  до 64
на профиле 4 студентов можно добавить  до 54
на профиле 5 студентов можно добавить  до 90
на профиле 6 студентов можно добавить  до 80
на профиле 7 студентов можно добавить  до 60

In [73]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,25,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
1,0,2,18,20,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
2,0,3,27,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
3,0,2,30,32,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
4,0,9,25,27,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
5,0,3,20,30,30,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
6,0,4,15,20,20,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",0
7,1,2,30,30,0,"[233, 101, 265, 135, 46, 177, 266, 425, 41, 13...",30

In [74]:
matching.random_distribution()

In [75]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[]