In [54]:
from students_matching import StudentsMatching
import random
import warnings

warnings.filterwarnings("ignore")

In [55]:
num_students = 450
num_profiles = 8

min_num_groups = [0, 0, 0, 0, 0, 0, 0, 0]
max_num_groups = [2, 2, 4, 2, 9, 3, 3, 4]
max_group_sizes = [20, 20, 30, 32, 27, 30, 20, 30]
min_group_sizes = [18, 18, 27, 30, 25, 30, 15, 30]

perc_of_target = 0.05
perc_of_contract = 0.3
debts_limit = 5
first_pref = 60
first_pref_target = 5

In [56]:
matching = StudentsMatching(num_students, num_profiles, perc_of_target,
                            perc_of_contract, debts_limit, first_pref, first_pref_target,
                            min_num_groups, max_num_groups, min_group_sizes, max_group_sizes)

In [57]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,20,40,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
1,0,2,18,20,40,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
2,0,4,27,30,120,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
3,0,2,30,32,64,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
4,0,9,25,27,243,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
5,0,3,30,30,90,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
6,0,3,15,20,60,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
7,0,4,30,30,120,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0

In [58]:
for prof in matching.data_p.index:
    print(f"Профиль {prof}: Студенты, поставившие первым приоритетом: {matching.priorities[prof]}, "
          f"целевиков: {matching.priorities_target[prof]}")

print(f"Размер резерва студентов: {matching.reserve_size}")
print(f"Резерв студентов: {matching.reserve_students}")

Профиль 0: Студенты, поставившие первым приоритетом: 57, целевиков: 3
Профиль 1: Студенты, поставившие первым приоритетом: 51, целевиков: 4
Профиль 2: Студенты, поставившие первым приоритетом: 52, целевиков: 4
Профиль 3: Студенты, поставившие первым приоритетом: 58, целевиков: 3
Профиль 4: Студенты, поставившие первым приоритетом: 54, целевиков: 0
Профиль 5: Студенты, поставившие первым приоритетом: 55, целевиков: 3
Профиль 6: Студенты, поставившие первым приоритетом: 52, целевиков: 1
Профиль 7: Студенты, поставившие первым приоритетом: 45, целевиков: 4
Размер резерва студентов: 0
Резерв студентов: []

In [59]:
matching.gale_shapley(matching.sorted_students)
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [299, 199, 163, 276, 55, 440, 82, 401, 292, 221, 257, 8, 301, 46, 217, 32, 191, 162, 64, 112, 12, 240, 402, 407, 36, 117, 351, 414, 89, 237, 85, 170, 281, 121, 235, 1, 151, 287, 17, 441]
Всего на профиле 0 40 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [6, 244, 220, 297, 42, 69, 44, 357, 101, 154, 215, 330, 346, 66, 434, 378, 98, 241, 185, 421, 26, 183, 396, 283, 355, 176, 169, 397, 311, 182, 307, 59, 329, 181, 383, 190, 337, 174, 416, 251]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [422, 449, 134, 231, 336, 243, 67, 147, 61, 83, 3, 326, 286, 23, 25, 115, 77, 274, 160, 236, 349, 201, 303, 193, 433, 145, 377, 353, 315, 356, 446, 120, 246, 382, 137, 273, 228, 439, 0, 27, 107, 110, 102, 78, 361, 442, 79, 384, 432, 417, 146, 144, 148, 354, 175, 2, 130, 222]
Всего на профиле 2 58 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 2
Профиль 3: Студенты - [373, 338, 340, 99, 420, 437, 205, 161, 76, 165, 277, 97, 428, 418, 278, 15, 105, 135, 359, 426, 371, 4, 293, 260, 53, 184, 409, 290, 178, 313, 272, 158, 209, 435, 139, 229, 63, 179, 70, 269, 347, 35, 352, 230, 271, 13, 404, 49, 111, 304, 232, 289, 306, 123, 57, 424, 328, 219, 380, 214, 429, 143, 103]
Всего на профиле 3 63 студентов
Студентов профиля 3 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 3: 1
Профиль 4: Студенты - [18, 156, 430, 153, 177, 298, 28, 14, 427, 125, 128, 155, 37, 65, 124, 390, 196, 248, 348, 127, 7, 31, 187, 52, 256, 247, 386, 118, 200, 210, 365, 22, 73, 172, 41, 100, 267, 33, 239, 43, 249, 370, 331, 72, 24, 254, 291, 114, 86, 136, 188, 343, 11, 58, 164, 227, 392, 389, 198, 284, 425]
Всего на профиле 4 61 студентов
Для максимальной заполненности 2 групп профиля 4 выгнать: 7
Для минимальной заполненности 3 групп профиля 4 добавить: 14
Профиль 5: Студенты - [152, 39, 92, 90, 104, 410, 405, 367, 394, 270, 314, 56, 96, 173, 29, 88, 341, 250, 167, 106, 316, 268, 400, 447, 403, 413, 87, 261, 197, 406, 415, 319, 317, 95, 398, 234, 448, 375, 308, 206, 280, 368, 388, 350, 436, 38, 369, 265, 387, 372, 226, 379, 71, 263, 312, 374]
Всего на профиле 5 56 студентов
Для максимальной заполненности 1 групп профиля 5 выгнать: 26
Для минимальной заполненности 2 групп профиля 5 добавить: 4
Профиль 6: Студенты - [212, 133, 129, 344, 40, 408, 194, 431, 364, 342, 242, 224, 138, 282, 305, 203, 168, 131, 113, 411, 192, 74, 295, 302, 334, 412, 363, 166, 141, 84, 320, 419, 20, 16, 233, 399, 171, 288, 332, 140, 358, 189, 211, 438, 91, 213, 30, 395, 159, 445, 310, 108, 322, 360, 150, 318, 68]
Всего на профиле 6 57 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 3
Профиль 7: Студенты - [116, 309, 34, 258, 423, 252, 119, 207, 324, 279, 80, 323, 186, 93, 218, 238, 253, 391, 132, 223, 255, 335, 81, 262, 51, 75, 9, 385, 393, 285, 126, 259, 142, 216, 381, 245, 225, 60, 327, 366, 345, 109, 294, 275, 296, 202, 376, 149, 321]
Всего на профиле 7 49 студентов
Для максимальной заполненности 1 групп профиля 7 выгнать: 19
Для минимальной заполненности 2 групп профиля 7 добавить: 11

In [60]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[5, 10, 19, 21, 45, 47, 48, 50, 54, 62, 94, 122, 157, 180, 195, 204, 208, 264, 266, 300, 325, 333, 339, 362, 443, 444]

In [61]:
matching.calculate_prof_status_and_a()
matching.prof_status

[1, 1, 1, 1, 0, 0, 1, 0]

In [62]:
matching.a

3

In [63]:
matching.preparing_for_redistribution()

можно проводить распределение
студенты к распределению: [374, 68, 312, 103, 321, 222, 5, 10, 19, 21, 45, 47, 48, 50, 54, 62, 94, 122, 157, 180, 195, 204, 208, 264, 266, 300, 325, 333, 339, 362, 443, 444]

In [64]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
1,0,2,18,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
2,0,4,27,30,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
3,0,2,30,32,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
4,0,9,25,27,14,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
5,0,3,30,30,6,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
6,0,3,15,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
7,0,4,30,30,12,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0

In [65]:
matching.gale_shapley_redistribution()
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = students_to_add
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size 
            matching.data_p.loc[prof, 'quota'] = students_needed_to_max
            # Обновляем квоту
            matching.data_p.loc[prof, 'quota'] = 0
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [299, 199, 163, 276, 55, 440, 82, 401, 292, 221, 257, 8, 301, 46, 217, 32, 191, 162, 64, 112, 12, 240, 402, 407, 36, 117, 351, 414, 89, 237, 85, 170, 281, 121, 235, 1, 151, 287, 17, 441]
Всего на профиле 0 40 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [6, 244, 220, 297, 42, 69, 44, 357, 101, 154, 215, 330, 346, 66, 434, 378, 98, 241, 185, 421, 26, 183, 396, 283, 355, 176, 169, 397, 311, 182, 307, 59, 329, 181, 383, 190, 337, 174, 416, 251]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [422, 449, 134, 231, 336, 243, 67, 147, 61, 83, 3, 326, 286, 23, 25, 115, 77, 274, 160, 236, 349, 201, 303, 193, 433, 145, 377, 353, 315, 356, 446, 120, 246, 382, 137, 273, 228, 439, 0, 27, 107, 110, 102, 78, 361, 442, 79, 384, 432, 417, 146, 144, 148, 354, 175, 2, 130]
Всего на профиле 2 57 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 3
Профиль 3: Студенты - [373, 338, 340, 99, 420, 437, 205, 161, 76, 165, 277, 97, 428, 418, 278, 15, 105, 135, 359, 426, 371, 4, 293, 260, 53, 184, 409, 290, 178, 313, 272, 158, 209, 435, 139, 229, 63, 179, 70, 269, 347, 35, 352, 230, 271, 13, 404, 49, 111, 304, 232, 289, 306, 123, 57, 424, 328, 219, 380, 214, 429, 143]
Всего на профиле 3 62 студентов
Студентов профиля 3 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 3: 2
Профиль 4: Студенты - [18, 156, 430, 153, 177, 298, 28, 14, 427, 125, 128, 155, 37, 65, 124, 390, 196, 248, 348, 127, 7, 31, 187, 52, 256, 247, 386, 118, 200, 210, 365, 22, 73, 172, 41, 100, 267, 33, 239, 43, 249, 370, 331, 72, 24, 254, 291, 114, 86, 136, 188, 343, 11, 58, 164, 227, 392, 389, 198, 284, 425, 68]
Всего на профиле 4 62 студентов
Для максимальной заполненности 2 групп профиля 4 выгнать: 8
Для минимальной заполненности 3 групп профиля 4 добавить: 13
Профиль 5: Студенты - [152, 39, 92, 90, 104, 410, 405, 367, 394, 270, 314, 56, 96, 173, 29, 88, 341, 250, 167, 106, 316, 268, 400, 447, 403, 413, 87, 261, 197, 406, 415, 319, 317, 95, 398, 234, 448, 375, 308, 206, 280, 368, 388, 350, 436, 38, 369, 265, 387, 372, 226, 379, 71, 263, 374, 312, 103, 222]
Всего на профиле 5 58 студентов
Для максимальной заполненности 1 групп профиля 5 выгнать: 28
Для минимальной заполненности 2 групп профиля 5 добавить: 2
Профиль 6: Студенты - [212, 133, 129, 344, 40, 408, 194, 431, 364, 342, 242, 224, 138, 282, 305, 203, 168, 131, 113, 411, 192, 74, 295, 302, 334, 412, 363, 166, 141, 84, 320, 419, 20, 16, 233, 399, 171, 288, 332, 140, 358, 189, 211, 438, 91, 213, 30, 395, 159, 445, 310, 108, 322, 360, 150, 318]
Всего на профиле 6 56 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 4
Профиль 7: Студенты - [116, 309, 34, 258, 423, 252, 119, 207, 324, 279, 80, 323, 186, 93, 218, 238, 253, 391, 132, 223, 255, 335, 81, 262, 51, 75, 9, 385, 393, 285, 126, 259, 142, 216, 381, 245, 225, 60, 327, 366, 345, 109, 294, 275, 296, 202, 376, 149, 321]
Всего на профиле 7 49 студентов
Для максимальной заполненности 1 групп профиля 7 выгнать: 19
Для минимальной заполненности 2 групп профиля 7 добавить: 11

In [66]:
matching.data_p

,min_num_groups,max_num_groups,min_group_size,max_group_size,quota,preferences,min_quota
0,0,2,18,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
1,0,2,18,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
2,0,4,27,30,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
3,0,2,30,32,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
4,0,9,25,27,13,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
5,0,3,30,30,2,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
6,0,3,15,20,0,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0
7,0,4,30,30,11,"[6, 116, 309, 152, 212, 39, 299, 422, 449, 134...",0

In [67]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[5, 10, 19, 21, 45, 47, 48, 50, 54, 62, 94, 122, 157, 180, 195, 204, 208, 264, 266, 300, 325, 333, 339, 362, 443, 444]

In [68]:
matching.random_distribution()

In [69]:
for prof, matched_students in matching.profiles_matches.items():
    print(f"Профиль {prof}: Студенты - {matched_students}")
    print(f"Всего на профиле {prof} {len(matched_students)} студентов")

    max_size = matching.data_p.loc[prof, 'max_group_size']
    min_size = matching.data_p.loc[prof, 'min_group_size']
    if len(matched_students) > 0:
        full_groups = len(matched_students) // max_size
        small_groups = len(matched_students) // min_size
        if len(matched_students) % max_size == 0:
            print(f"На профиле {prof} можно сформировать {full_groups} полных групп.")
        elif small_groups == full_groups:
            students_to_remove = len(matched_students) % max_size
            students_to_add = min_size - len(matched_students) % min_size
            print(f"Для максимальной заполненности {full_groups} групп профиля {prof} выгнать: {students_to_remove}")
            print(f"Для минимальной заполненности {small_groups + 1} групп профиля {prof} добавить: {students_to_add}")
        else:
            print(f"Студентов профиля {prof} можно распределить в {small_groups} групп")
            students_needed_to_max = max_size - len(matched_students) % max_size
            print(f"Не хватает студентов до максимальной заполненности групп для профиля {prof}: {students_needed_to_max}")
    else:
        print(f"На профиле {prof} нет зачисленных студентов.")

Профиль 0: Студенты - [299, 199, 163, 276, 55, 440, 82, 401, 292, 221, 257, 8, 301, 46, 217, 32, 191, 162, 64, 112, 12, 240, 402, 407, 36, 117, 351, 414, 89, 237, 85, 170, 281, 121, 235, 1, 151, 287, 17, 441]
Всего на профиле 0 40 студентов
На профиле 0 можно сформировать 2 полных групп.
Профиль 1: Студенты - [6, 244, 220, 297, 42, 69, 44, 357, 101, 154, 215, 330, 346, 66, 434, 378, 98, 241, 185, 421, 26, 183, 396, 283, 355, 176, 169, 397, 311, 182, 307, 59, 329, 181, 383, 190, 337, 174, 416, 251]
Всего на профиле 1 40 студентов
На профиле 1 можно сформировать 2 полных групп.
Профиль 2: Студенты - [422, 449, 134, 231, 336, 243, 67, 147, 61, 83, 3, 326, 286, 23, 25, 115, 77, 274, 160, 236, 349, 201, 303, 193, 433, 145, 377, 353, 315, 356, 446, 120, 246, 382, 137, 273, 228, 439, 0, 27, 107, 110, 102, 78, 361, 442, 79, 384, 432, 417, 146, 144, 148, 354, 175, 2, 130]
Всего на профиле 2 57 студентов
Студентов профиля 2 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 2: 3
Профиль 3: Студенты - [373, 338, 340, 99, 420, 437, 205, 161, 76, 165, 277, 97, 428, 418, 278, 15, 105, 135, 359, 426, 371, 4, 293, 260, 53, 184, 409, 290, 178, 313, 272, 158, 209, 435, 139, 229, 63, 179, 70, 269, 347, 35, 352, 230, 271, 13, 404, 49, 111, 304, 232, 289, 306, 123, 57, 424, 328, 219, 380, 214, 429, 143]
Всего на профиле 3 62 студентов
Студентов профиля 3 можно распределить в 2 групп
Не хватает студентов до максимальной заполненности групп для профиля 3: 2
Профиль 4: Студенты - [18, 156, 430, 153, 177, 298, 28, 14, 427, 125, 128, 155, 37, 65, 124, 390, 196, 248, 348, 127, 7, 31, 187, 52, 256, 247, 386, 118, 200, 210, 365, 22, 73, 172, 41, 100, 267, 33, 239, 43, 249, 370, 331, 72, 24, 254, 291, 114, 86, 136, 188, 343, 11, 58, 164, 227, 392, 389, 198, 284, 425, 68, 5, 10, 50, 62, 122, 157, 180, 204, 266, 300, 333, 339, 362]
Всего на профиле 4 75 студентов
Студентов профиля 4 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 4: 6
Профиль 5: Студенты - [152, 39, 92, 90, 104, 410, 405, 367, 394, 270, 314, 56, 96, 173, 29, 88, 341, 250, 167, 106, 316, 268, 400, 447, 403, 413, 87, 261, 197, 406, 415, 319, 317, 95, 398, 234, 448, 375, 308, 206, 280, 368, 388, 350, 436, 38, 369, 265, 387, 372, 226, 379, 71, 263, 374, 312, 103, 222, 45, 48]
Всего на профиле 5 60 студентов
На профиле 5 можно сформировать 2 полных групп.
Профиль 6: Студенты - [212, 133, 129, 344, 40, 408, 194, 431, 364, 342, 242, 224, 138, 282, 305, 203, 168, 131, 113, 411, 192, 74, 295, 302, 334, 412, 363, 166, 141, 84, 320, 419, 20, 16, 233, 399, 171, 288, 332, 140, 358, 189, 211, 438, 91, 213, 30, 395, 159, 445, 310, 108, 322, 360, 150, 318]
Всего на профиле 6 56 студентов
Студентов профиля 6 можно распределить в 3 групп
Не хватает студентов до максимальной заполненности групп для профиля 6: 4
Профиль 7: Студенты - [116, 309, 34, 258, 423, 252, 119, 207, 324, 279, 80, 323, 186, 93, 218, 238, 253, 391, 132, 223, 255, 335, 81, 262, 51, 75, 9, 385, 393, 285, 126, 259, 142, 216, 381, 245, 225, 60, 327, 366, 345, 109, 294, 275, 296, 202, 376, 149, 321, 19, 21, 47, 54, 94, 195, 208, 264, 325, 443, 444]
Всего на профиле 7 60 студентов
На профиле 7 можно сформировать 2 полных групп.

In [70]:
print("Незачисленные студенты:")
print(matching.unmatched_students)

Незачисленные студенты:
[]